<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" style="display: none;">
    <fieldset>
      <div id="legend">
        <legend class="">Login Information</legend>
      </div>
      
      <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email"> Login E-mail :</label>
        <div class="controls">
          <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
          <p class="help-block">This Email ID will be used to sign-in to Global Grahak</p>
        </div>
      </div>
   
      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">Create Password</label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
          <p class="help-block">6 - 20 characters (A-Z, a-z, 0-9 only)</p>
        </div>
      </div>
   
      <div class="control-group">
        <!-- confirm Password -->
        <label class="control-label"  for="password_confirm">Password (Confirm)</label>
        <div class="controls">
          <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
          <p class="help-block">Please confirm password</p>
        </div>
      </div>
   
    </fieldset>
  
    <fieldset>
      <div id="legend">
        <legend class="">Contact Information</legend>
      </div>
      <div class="control-group">
        <!-- name -->
        <label class="control-label"  for="name">Name</label>
        <div class="controls">
          <input type="text" id="name" name="name" placeholder="" class="input-xlarge">
          <p class="help-block">name can contain any letters or numbers, without spaces</p>
        </div>
      </div>
   
      <div class="control-group">
        <!-- Country -->
        <label class="control-label" for="country">Country</label>
        <div class="controls">
          <input type="text" id="country" name="country" placeholder="" class="input-xlarge">
          <p class="help-block">Please provide your E-mail</p>
        </div>
      </div>
   
      <div class="control-group">
        <!-- Your Skype ID-->
        <label class="control-label" for="skypeId">Your Skype ID</label>
        <div class="controls">
          <input type="text" id="skypeId" name="skypeId" placeholder="" class="input-xlarge">
          <p class="help-block">Password should be at least 4 characters</p>
        </div>
      </div>
   
      <div class="control-group">
        <!-- Mobile Number -->
        <label class="control-label"  for="mobileNumber">Mobile Number</label>
        <div class="controls">
          <input type="text" id="mobileNumber" name="mobileNumber" placeholder="" class="input-xlarge">
          <p class="help-block">Please confirm password</p>
        </div>
      </div>
  
      <div class="control-group">
          <!-- Phone No. -->
          <label class="control-label"  for="phoneNo">Phone No.</label>
          <div class="controls">
            <input type="text" id="phoneNo" name="phoneNo" placeholder="" class="input-xlarge">
            <p class="help-block">Please confirm password</p>
          </div>
        </div>
  
        <div class="control-group">
          <!-- Website -->
          <label class="control-label"  for="website">Website</label>
          <div class="controls">
            <input type="text" id="website" name="Website" placeholder="" class="input-xlarge">
            <p class="help-block">Please confirm password</p>
          </div>
        </div>
   
      
    </fieldset>
  
    <fieldset>
      <div id="legend">
        <legend class="">Business Location & Profile</legend>
      </div>
      <div class="control-group">
        <!-- Company Name  -->
        <label class="control-label"  for="companyName ">Company Name</label>
        <div class="controls">
          <input type="text" id="companyName " name="companyName" placeholder="" class="input-xlarge">
          <p class="help-block">Username can contain any letters or numbers, without spaces</p>
        </div>
      </div>
   
      <div class="control-group">
        <!-- Primary Business -->
        <label class="control-label" for="primaryBusiness ">Primary Business</label>
        <div class="controls">
          <input type="text" id="primaryBusiness " name="primaryBusiness" placeholder="" class="input-xlarge">
          <p class="help-block">Please provide your E-mail</p>
        </div>
      </div>
   
      <div class="control-group">
        <!-- Company Address-->
        <label class="control-label" for="companyAddress ">Company Address</label>
        <div class="controls">
          <input type="text" id="companyAddress " name="companyAddress" placeholder="" class="input-xlarge">
          <p class="help-block">Password should be at least 4 characters</p>
        </div>
      </div>
   
      <div class="control-group">
        <!-- Products -->
        <label class="control-label"  for="products ">Products</label>
        <div class="controls">
          <input type="text" id="products " name="products " placeholder="" class="input-xlarge">
          <p class="help-block">Please confirm password</p>
        </div>
      </div>
  
      <div class="control-group">
          <!-- Services -->
          <label class="control-label"  for="Services  ">Services</label>
          <div class="controls">
            <input type="text" id="Services  " name="Services  " placeholder="" class="input-xlarge">
            <p class="help-block">Please confirm password</p>
          </div>
        </div>
   
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success">Create Account</button>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="jumbotron text-center mb-0" style="background-color: #fff;">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 align-left">
          <div class="row d-flex align-items-center mb-3 text-left">
            <div class="col-12 spc-title"> Login Information</div>
            <div class="col-3 p-0 text-right">
              * Login E-mail :	
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <input type="email" class="form-control" id="email" name="email">
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-3 text-left">
            
            <div class="col-3 p-0 text-right">
              * Create Password :		
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <input type="email" class="form-control" id="email" name="email">
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-5 text-left">
            
            <div class="col-3 p-0 text-right">
              * Re-enter Password :		
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <input type="email" class="form-control" id="email" name="email">
              </div>	
            </div>
            
          </div>

          <div class="row d-flex align-items-center mb-3 text-left">
            <div class="col-12 spc-title">  Contact Information            </div>
            <div class="col-3 p-0 text-right">
              * Name :		
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <input type="email" class="form-control" id="email" name="email">
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-3 text-left">
            
            <div class="col-3 p-0 text-right">
              * Country :		
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <select name="cars" class="custom-select">
                  <option selected>Select Country</option>
                  
                </select>
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-3 text-left">
            
            <div class="col-3 p-0 text-right">
              Your Skype ID :			
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <input type="email" class="form-control" id="email" name="email">
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-3 text-left">
            
            <div class="col-3 p-0 text-right">
              * Mobile Number :			
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <input type="email" class="form-control" id="email" name="email">
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-3 text-left">
            
            <div class="col-3 p-0 text-right">
              Phone No. :			
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <input type="email" class="form-control" id="email" name="email">
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-5 text-left">
            
            <div class="col-3 p-0 text-right">
              Website :	
			
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <input type="email" class="form-control" id="email" name="email">
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-3 text-left">
            <div class="col-12 spc-title">   Business Location & Profile
            </div>
            <div class="col-3 p-0 text-right">
              * Company Name :			
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <input type="email" class="form-control" id="email" name="email">
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-3 text-left">
            
            <div class="col-3 p-0 text-right">
              * Primary Business :				
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                <select name="cars" class="custom-select">
                  <option selected>Select </option>
                  
                </select>
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-3 text-left">
           
            <div class="col-3 p-0 text-right">
              * Company Address :				
            </div>
            <div class="col-9 text-left">
              <div class="form-group p-0 mb-0">  
                
                  <textarea class="form-control"></textarea>
              </div>	
            </div>
            
          </div>
          <div class="row d-flex align-items-top mb-3 text-left">
           
            <div class="col-3 p-0 text-right">
              Products :			
            </div>
            <div class="col-9 text-left">
              <div class="row mb-3">
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
                
              </div>
              <div class="row mb-3">
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
               
              </div>
              <div class="row mb-3">
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
               
              </div>
              	
            </div>
            
          </div>
          <div class="row d-flex align-items-top mb-3 text-left">
           
            <div class="col-3 p-0 text-right">
              Services :	
			
            </div>
            <div class="col-9 text-left">
              <div class="row mb-3">
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
               
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
                <div class="col-4">
                  <div class="form-group p-0 mb-0">  
              
                    <input class="form-control">
                </div>
                </div>
               
              </div>
             
              	
            </div>
            
          </div>
          <div class="row d-flex align-items-center mb-3 text-left">
            <div  class="col-12 spc-title">  </div>
            <div class="col-3 p-0 text-right">
             
            </div>
            <div class="col-9 text-left">
               <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                Create Account
              </button>	
            </div>
            
          </div>
         
      </div>
    </div> 
  </div>