<div class="container">
  <form class="form-horizontal" [formGroup]="registrationForm">

    <div class="control-group">
      <label class="control-label" for="email"> Login E-mail :</label>
      <div class="controls">
        <input type="text" id="email" formControlName="email" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password"> Password :</label>
      <div class="controls">
        <input type="text" id="password" formControlName="password" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password"> Confirm Password :</label>
      <div class="controls">
        <input type="text" id="password" formControlName="password" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="full_name"> Name :</label>
      <div class="controls">
        <input type="text" id="full_name" formControlName="full_name" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="fk_country_id"> Country :</label>
      <div class="controls">
        <input type="text" id="fk_country_id" formControlName="fk_country_id" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="fk_state_id"> State :</label>
      <div class="controls">
        <input type="text" id="fk_state_id" formControlName="fk_state_id" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="fk_city_id"> City :</label>
      <div class="controls">
        <input type="text" id="fk_city_id" formControlName="fk_city_id" placeholder="" class="input-xlarge">

      </div>
    </div>



    <div class="control-group">
      <label class="control-label" for="phone_number"> Mobile No. :</label>
      <div class="controls">
        <input type="text" id="phone_number" formControlName="phone_number" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="phone_number2"> Phone No. :</label>
      <div class="controls">
        <input type="text" id="phone_number2" formControlName="phone_number2" placeholder="" class="input-xlarge">

      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="dob"> DOB :</label>
      <div class="controls">
        <input type="text" id="dob" formControlName="dob" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="gender"> Gender :</label>
      <div class="controls">
        <input type="text" id="gender" formControlName="gender" placeholder="" class="input-xlarge">

      </div>
    </div>







    <div class="control-group">
      <label class="control-label" for="skype_id"> skype_id :</label>
      <div class="controls">
        <input type="text" id="skype_id" formControlName="skype_id" placeholder="" class="input-xlarge">

      </div>
    </div>



    <div class="control-group">
      <label class="control-label" for="website"> Website :</label>
      <div class="controls">
        <input type="text" id="website" formControlName="website" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="company_name"> Company Name :</label>
      <div class="controls">
        <input type="text" id="company_name" formControlName="company_name" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="company_address"> Company Address :</label>
      <div class="controls">
        <input type="text" id="company_address" formControlName="company_address" placeholder="" class="input-xlarge">

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="fk_primary_bussiness"> Primary Bussiness :</label>
      <div class="controls">
        <input type="text" id="fk_primary_bussiness" formControlName="fk_primary_bussiness" placeholder=""
          class="input-xlarge">

      </div>
    </div>


    <div class="control-group">
      <button (click)="onRegistrationSubmit()">sign up</button>
    </div>






  </form>
</div>